body{
    background-color: white;
}
.title{
   text-align: center;
    font-size: 40px;
}
.my-panel{
    width: 96%;
    margin-left: 2%;
    height: 100%;
    border:1px solid #F5F5F5;
    box-shadow: 1px 1px 1px #F5F5F5;
}
.upload_img{
    width:150px;
    height:150px;
    margin-top: 10px;

}
.img-div{
    margin-left: 10px;
  display: inline-block;
    position: relative;
}

.div1 {
    position: relative;
    margin-left: 600px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.my-input-group{
     margin-left: 30%;
    margin-top: 20px;
    display: inline-block;
}
.save-btn{
    margin-top: 40px;
}
.my-label{
    width: 80px;
}
.remove{
    position: absolute;
    margin-left: 130px;
    margin-top:-147px;
   color: black;
}
.remove:hover{
    color: red;
}
.my-input{
    height: 40px;
    width: 450px;
    margin-left: 20px;
}
.file {
    margin-left:46%;
    margin-top: 20px;
    margin-bottom: 20px;
    position: relative;
    display: inline-block;
    background: #D0EEFF;
    border: 1px solid #99D3F5;
    border-radius: 4px;
    padding: 4px 12px;
    overflow: hidden;
    color: #1E88C7;
    text-decoration: none;
    text-indent: 0;
    line-height: 20px;
}
.file input {
    position: absolute;
    font-size: 100px;
    right: 0;
    top: 0;
    opacity: 0;
}
.file:hover {

    background: #AADFFD;
    border-color: #78C3F3;
    color: #004974;
    text-decoration: none;
}